In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\himan\appdata\local\programs\python\python312\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\himan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\himan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\himan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\himan\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\himan\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

taxi_details = pd.read_csv(r"Green_Taxi_Trip__new.csv")
df = pd.DataFrame(taxi_details)
df.head()

C:\Users\himan\AppData\Local\Temp\ipykernel_10500\3793608049.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,ID,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,1.0,2.0,1/1/2022 0:14,1/1/2022 0:15,N,1.0,42.0,42.0,1.0,0.44,...,0.50,0.5,0.00,0.0,NaN,0.3,4.80,2.0,1.0,0.00
1,2.0,1.0,1/1/2022 0:20,1/1/2022 0:29,N,1.0,116.0,41.0,1.0,2.10,...,0.50,0.5,0.00,0.0,NaN,0.3,10.80,2.0,1.0,0.00
2,3.0,1.0,1/1/2022 0:57,1/1/2022 1:13,N,1.0,41.0,140.0,1.0,3.70,...,3.25,0.5,4.60,0.0,NaN,0.3,23.15,1.0,1.0,2.75
3,4.0,2.0,1/1/2022 0:07,1/1/2022 0:15,N,1.0,181.0,181.0,1.0,1.69,...,0.50,0.5,0.00,0.0,NaN,0.3,9.30,2.0,1.0,0.00
4,5.0,2.0,1/1/2022 0:07,1/1/2022 0:28,N,1.0,33.0,170.0,1.0,6.26,...,0.50,0.5,5.21,0.0,NaN,0.3,31.26,1.0,1.0,2.75

In [3]:
df.shape

(840402, 21)

In [4]:
df['ID'] = range(1, len(df) + 1)

In [5]:
df

,ID,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,1,2.0,1/1/2022 0:14,1/1/2022 0:15,N,1.0,42.0,42.0,1.0,0.44,...,0.50,0.5,0.00,0.0,NaN,0.3,4.80,2.0,1.0,0.00
1,2,1.0,1/1/2022 0:20,1/1/2022 0:29,N,1.0,116.0,41.0,1.0,2.10,...,0.50,0.5,0.00,0.0,NaN,0.3,10.80,2.0,1.0,0.00
2,3,1.0,1/1/2022 0:57,1/1/2022 1:13,N,1.0,41.0,140.0,1.0,3.70,...,3.25,0.5,4.60,0.0,NaN,0.3,23.15,1.0,1.0,2.75
3,4,2.0,1/1/2022 0:07,1/1/2022 0:15,N,1.0,181.0,181.0,1.0,1.69,...,0.50,0.5,0.00,0.0,NaN,0.3,9.30,2.0,1.0,0.00
4,5,2.0,1/1/2022 0:07,1/1/2022 0:28,N,1.0,33.0,170.0,1.0,6.26,...,0.50,0.5,5.21,0.0,NaN,0.3,31.26,1.0,1.0,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840397,840398,2.0,12/31/2022 23:33,12/31/2022 23:49,NaN,NaN,33.0,79.0,NaN,3.53,...,0.00,0.0,4.89,0.0,NaN,1.0,29.36,NaN,NaN,NaN
840398,840399,2.0,12/31/2022 23:29,1/1/2023 0:01,NaN,NaN,49.0,197.0,NaN,8.94,...,0.00,0.0,8.00,0.0,NaN,1.0,48.01,NaN,NaN,NaN
840399,840400,2.0,12/31/2022 23:05,12/31/2022 23:12,NaN,NaN,54.0,181.0,NaN,1.27,...,0.00,0.0,2.62,0.0,NaN,1.0,15.73,NaN,NaN,NaN
840400,840401,2.0,12/31/2022 23:03,12/31/2022 23:18,NaN,NaN,7.0,129.0,NaN,2.23,...,0.00,0.0,3.30,0.0,NaN,1.0,19.81,NaN,NaN,NaN
840401,840402,2.0,12/31/2022 23:16,12/31/2022 23:25,NaN,NaN,17.0,61.0,NaN,1.74,...,0.00,0.0,2.66,0.0,NaN,1.0,15.98,NaN,NaN,NaN

In [6]:
df.head(15)

,ID,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,1,2.0,1/1/2022 0:14,1/1/2022 0:15,N,1.0,42.0,42.0,1.0,0.44,...,0.50,0.5,0.00,0.00,NaN,0.3,4.80,2.0,1.0,0.00
1,2,1.0,1/1/2022 0:20,1/1/2022 0:29,N,1.0,116.0,41.0,1.0,2.10,...,0.50,0.5,0.00,0.00,NaN,0.3,10.80,2.0,1.0,0.00
2,3,1.0,1/1/2022 0:57,1/1/2022 1:13,N,1.0,41.0,140.0,1.0,3.70,...,3.25,0.5,4.60,0.00,NaN,0.3,23.15,1.0,1.0,2.75
3,4,2.0,1/1/2022 0:07,1/1/2022 0:15,N,1.0,181.0,181.0,1.0,1.69,...,0.50,0.5,0.00,0.00,NaN,0.3,9.30,2.0,1.0,0.00
4,5,2.0,1/1/2022 0:07,1/1/2022 0:28,N,1.0,33.0,170.0,1.0,6.26,...,0.50,0.5,5.21,0.00,NaN,0.3,31.26,1.0,1.0,2.75
5,6,1.0,1/1/2022 0:47,1/1/2022 0:54,N,1.0,150.0,210.0,1.0,1.30,...,0.50,0.5,0.00,0.00,NaN,0.3,8.30,2.0,1.0,0.00
6,7,2.0,1/1/2022 0:13,1/1/2022 0:33,N,1.0,66.0,67.0,1.0,6.47,...,0.50,0.5,0.00,0.00,NaN,0.3,23.80,2.0,1.0,0.00
7,8,2.0,1/1/2022 0:43,1/1/2022 0:49,N,1.0,40.0,195.0,1.0,1.15,...,0.50,0.5,0.00,0.00,NaN,0.3,7.30,2.0,1.0,0.00
8,9,2.0,1/1/2022 0:41,1/1/2022 0:47,N,1.0,112.0,80.0,1.0,1.30,...,0.50,0.5,0.00,0.00,NaN,0.3,7.30,2.0,1.0,0.00
9,10,2.0,1/1/2022 0:51,1/1/2022 1:09,N,1.0,256.0,186.0,1.0,4.75,...,0.50,0.5,4.21,0.00,NaN,0.3,25.26,1.0,1.0,2.75
10,11,2.0,12/31/2021 23:44,12/31/2021 23:57,N,1.0,75.0,4.0,1.0,6.03,...,0.50,0.5,1.50,0.00,NaN,0.3,24.05,1.0,1.0,2.75
11,12,2.0,1/1/2022 0:06,1/1/2022 0:21,N,1.0,41.0,116.0,1.0,2.82,...,0.50,0.5,0.00,0.00,NaN,0.3,13.80,2.0,1.0,0.00
12,13,2.0,1/1/2022 0:47,1/1/2022 0:50,N,1.0,75.0,74.0,1.0,0.70,...,0.50,0.5,1.45,0.00,NaN,0.3,7.25,1.0,1.0,0.00
13,14,2.0,1/1/2022 0:10,1/1/2022 23:10,N,1.0,74.0,260.0,1.0,5.48,...,0.50,0.5,0.00,6.55,NaN,0.3,25.35,2.0,1.0,0.00
14,15,2.0,1/1/2022 0:52,1/1/2022 1:25,N,1.0,74.0,231.0,1.0,7.54,...,0.50,0.5,6.11,0.00,NaN,0.3,36.66,1.0,1.0,2.75

In [7]:
# Convert to datetime
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'], format="%m/%d/%Y %H:%M")
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'], format="%m/%d/%Y %H:%M")

# Separate date and time
df['pickup_date'] = df['lpep_pickup_datetime'].dt.date
df['pickup_time'] = df['lpep_pickup_datetime'].dt.time

df['dropoff_date'] = df['lpep_dropoff_datetime'].dt.date
df['dropoff_time'] = df['lpep_dropoff_datetime'].dt.time

In [8]:
df

,ID,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,pickup_date,pickup_time,dropoff_date,dropoff_time
0,1,2.0,2022-01-01 00:14:00,2022-01-01 00:15:00,N,1.0,42.0,42.0,1.0,0.44,...,NaN,0.3,4.80,2.0,1.0,0.00,2022-01-01,00:14:00,2022-01-01,00:15:00
1,2,1.0,2022-01-01 00:20:00,2022-01-01 00:29:00,N,1.0,116.0,41.0,1.0,2.10,...,NaN,0.3,10.80,2.0,1.0,0.00,2022-01-01,00:20:00,2022-01-01,00:29:00
2,3,1.0,2022-01-01 00:57:00,2022-01-01 01:13:00,N,1.0,41.0,140.0,1.0,3.70,...,NaN,0.3,23.15,1.0,1.0,2.75,2022-01-01,00:57:00,2022-01-01,01:13:00
3,4,2.0,2022-01-01 00:07:00,2022-01-01 00:15:00,N,1.0,181.0,181.0,1.0,1.69,...,NaN,0.3,9.30,2.0,1.0,0.00,2022-01-01,00:07:00,2022-01-01,00:15:00
4,5,2.0,2022-01-01 00:07:00,2022-01-01 00:28:00,N,1.0,33.0,170.0,1.0,6.26,...,NaN,0.3,31.26,1.0,1.0,2.75,2022-01-01,00:07:00,2022-01-01,00:28:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840397,840398,2.0,2022-12-31 23:33:00,2022-12-31 23:49:00,NaN,NaN,33.0,79.0,NaN,3.53,...,NaN,1.0,29.36,NaN,NaN,NaN,2022-12-31,23:33:00,2022-12-31,23:49:00
840398,840399,2.0,2022-12-31 23:29:00,2023-01-01 00:01:00,NaN,NaN,49.0,197.0,NaN,8.94,...,NaN,1.0,48.01,NaN,NaN,NaN,2022-12-31,23:29:00,2023-01-01,00:01:00
840399,840400,2.0,2022-12-31 23:05:00,2022-12-31 23:12:00,NaN,NaN,54.0,181.0,NaN,1.27,...,NaN,1.0,15.73,NaN,NaN,NaN,2022-12-31,23:05:00,2022-12-31,23:12:00
840400,840401,2.0,2022-12-31 23:03:00,2022-12-31 23:18:00,NaN,NaN,7.0,129.0,NaN,2.23,...,NaN,1.0,19.81,NaN,NaN,NaN,2022-12-31,23:03:00,2022-12-31,23:18:00
840401,840402,2.0,2022-12-31 23:16:00,2022-12-31 23:25:00,NaN,NaN,17.0,61.0,NaN,1.74,...,NaN,1.0,15.98,NaN,NaN,NaN,2022-12-31,23:16:00,2022-12-31,23:25:00

In [9]:
df['trip_day'] = df['lpep_pickup_datetime'].dt.day_name()
df['trip_hour'] = df['lpep_pickup_datetime'].dt.hour

In [10]:
# Mapping dictionary to convert day names to numbers
day_to_num = {
    "Monday": 0,
    "Tuesday": 1,
    "Wednesday": 2,
    "Thursday": 3,
    "Friday": 4,
    "Saturday": 5,
    "Sunday": 6
}

# Convert "trip_day" to numerical values using the mapping
df["trip_day"] = df["trip_day"].map(day_to_num)

In [11]:
df["trip_day"]

0         5.0
1         5.0
2         5.0
3         5.0
4         5.0
         ...
840397    5.0
840398    5.0
840399    5.0
840400    5.0
840401    5.0
Name: trip_day, Length: 840402, dtype: float64

In [12]:
# Calculate trip duration in minutes
df["trip_duration_minutes"] = (df["lpep_dropoff_datetime"] - df["lpep_pickup_datetime"]).dt.total_seconds() / 60

# Optionally, round the result
df["trip_duration_minutes"] = df["trip_duration_minutes"].round(2)
df["trip_duration_minutes"]

0          1.0
1          9.0
2         16.0
3          8.0
4         21.0
          ...
840397    16.0
840398    32.0
840399     7.0
840400    15.0
840401     9.0
Name: trip_duration_minutes, Length: 840402, dtype: float64

In [13]:
df

,ID,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,payment_type,trip_type,congestion_surcharge,pickup_date,pickup_time,dropoff_date,dropoff_time,trip_day,trip_hour,trip_duration_minutes
0,1,2.0,2022-01-01 00:14:00,2022-01-01 00:15:00,N,1.0,42.0,42.0,1.0,0.44,...,2.0,1.0,0.00,2022-01-01,00:14:00,2022-01-01,00:15:00,5.0,0.0,1.0
1,2,1.0,2022-01-01 00:20:00,2022-01-01 00:29:00,N,1.0,116.0,41.0,1.0,2.10,...,2.0,1.0,0.00,2022-01-01,00:20:00,2022-01-01,00:29:00,5.0,0.0,9.0
2,3,1.0,2022-01-01 00:57:00,2022-01-01 01:13:00,N,1.0,41.0,140.0,1.0,3.70,...,1.0,1.0,2.75,2022-01-01,00:57:00,2022-01-01,01:13:00,5.0,0.0,16.0
3,4,2.0,2022-01-01 00:07:00,2022-01-01 00:15:00,N,1.0,181.0,181.0,1.0,1.69,...,2.0,1.0,0.00,2022-01-01,00:07:00,2022-01-01,00:15:00,5.0,0.0,8.0
4,5,2.0,2022-01-01 00:07:00,2022-01-01 00:28:00,N,1.0,33.0,170.0,1.0,6.26,...,1.0,1.0,2.75,2022-01-01,00:07:00,2022-01-01,00:28:00,5.0,0.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840397,840398,2.0,2022-12-31 23:33:00,2022-12-31 23:49:00,NaN,NaN,33.0,79.0,NaN,3.53,...,NaN,NaN,NaN,2022-12-31,23:33:00,2022-12-31,23:49:00,5.0,23.0,16.0
840398,840399,2.0,2022-12-31 23:29:00,2023-01-01 00:01:00,NaN,NaN,49.0,197.0,NaN,8.94,...,NaN,NaN,NaN,2022-12-31,23:29:00,2023-01-01,00:01:00,5.0,23.0,32.0
840399,840400,2.0,2022-12-31 23:05:00,2022-12-31 23:12:00,NaN,NaN,54.0,181.0,NaN,1.27,...,NaN,NaN,NaN,2022-12-31,23:05:00,2022-12-31,23:12:00,5.0,23.0,7.0
840400,840401,2.0,2022-12-31 23:03:00,2022-12-31 23:18:00,NaN,NaN,7.0,129.0,NaN,2.23,...,NaN,NaN,NaN,2022-12-31,23:03:00,2022-12-31,23:18:00,5.0,23.0,15.0
840401,840402,2.0,2022-12-31 23:16:00,2022-12-31 23:25:00,NaN,NaN,17.0,61.0,NaN,1.74,...,NaN,NaN,NaN,2022-12-31,23:16:00,2022-12-31,23:25:00,5.0,23.0,9.0

In [14]:
# Assuming the existing DataFrame with these columns
columns_to_drop = ["lpep_pickup_datetime", "lpep_dropoff_datetime", "store_and_fwd_flag", "ehail_fee"]

# Drop the specified columns
df = df.drop(columns=columns_to_drop)

dfx

,ID,VendorID,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,...,payment_type,trip_type,congestion_surcharge,pickup_date,pickup_time,dropoff_date,dropoff_time,trip_day,trip_hour,trip_duration_minutes
0,1,2.0,1.0,42.0,42.0,1.0,0.44,3.50,0.50,0.5,...,2.0,1.0,0.00,2022-01-01,00:14:00,2022-01-01,00:15:00,5.0,0.0,1.0
1,2,1.0,1.0,116.0,41.0,1.0,2.10,9.50,0.50,0.5,...,2.0,1.0,0.00,2022-01-01,00:20:00,2022-01-01,00:29:00,5.0,0.0,9.0
2,3,1.0,1.0,41.0,140.0,1.0,3.70,14.50,3.25,0.5,...,1.0,1.0,2.75,2022-01-01,00:57:00,2022-01-01,01:13:00,5.0,0.0,16.0
3,4,2.0,1.0,181.0,181.0,1.0,1.69,8.00,0.50,0.5,...,2.0,1.0,0.00,2022-01-01,00:07:00,2022-01-01,00:15:00,5.0,0.0,8.0
4,5,2.0,1.0,33.0,170.0,1.0,6.26,22.00,0.50,0.5,...,1.0,1.0,2.75,2022-01-01,00:07:00,2022-01-01,00:28:00,5.0,0.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840397,840398,2.0,NaN,33.0,79.0,NaN,3.53,20.72,0.00,0.0,...,NaN,NaN,NaN,2022-12-31,23:33:00,2022-12-31,23:49:00,5.0,23.0,16.0
840398,840399,2.0,NaN,49.0,197.0,NaN,8.94,39.01,0.00,0.0,...,NaN,NaN,NaN,2022-12-31,23:29:00,2023-01-01,00:01:00,5.0,23.0,32.0
840399,840400,2.0,NaN,54.0,181.0,NaN,1.27,12.11,0.00,0.0,...,NaN,NaN,NaN,2022-12-31,23:05:00,2022-12-31,23:12:00,5.0,23.0,7.0
840400,840401,2.0,NaN,7.0,129.0,NaN,2.23,15.51,0.00,0.0,...,NaN,NaN,NaN,2022-12-31,23:03:00,2022-12-31,23:18:00,5.0,23.0,15.0
840401,840402,2.0,NaN,17.0,61.0,NaN,1.74,12.32,0.00,0.0,...,NaN,NaN,NaN,2022-12-31,23:16:00,2022-12-31,23:25:00,5.0,23.0,9.0

In [15]:
null_count_per_column = df.isnull().sum()  # Count of null values in each column
print("\nNumber of null values per column:")
print(null_count_per_column)

Number of null values per column:
ID                           0
VendorID                  3785
RatecodeID               94041
PULocationID              3785
DOLocationID              3785
passenger_count          94041
trip_distance             3785
fare_amount               3785
extra                     3785
mta_tax                   3785
tip_amount                3785
tolls_amount              3785
improvement_surcharge     3785
total_amount              3785
payment_type             94041
trip_type                94056
congestion_surcharge     94041
pickup_date               3785
pickup_time               3785
dropoff_date              3785
dropoff_time              3785
trip_day                  3785
trip_hour                 3785
trip_duration_minutes     3785
dtype: int64

In [16]:
df_cleaned = df.dropna(subset=['RatecodeID'])

In [17]:
df_cleaned.shape

(746361, 24)

In [18]:
null_count_per_column = df_cleaned.isnull().sum()  # Count of null values in each column
print("\nNumber of null values per column:")
print(null_count_per_column)

Number of null values per column:
ID                        0
VendorID                  0
RatecodeID                0
PULocationID              0
DOLocationID              0
passenger_count           0
trip_distance             0
fare_amount               0
extra                     0
mta_tax                   0
tip_amount                0
tolls_amount              0
improvement_surcharge     0
total_amount              0
payment_type              0
trip_type                15
congestion_surcharge      0
pickup_date               0
pickup_time               0
dropoff_date              0
dropoff_time              0
trip_day                  0
trip_hour                 0
trip_duration_minutes     0
dtype: int64

In [19]:
df_cleaned = df.dropna(subset=['trip_type'])

In [20]:
df_cleaned

,ID,VendorID,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,...,payment_type,trip_type,congestion_surcharge,pickup_date,pickup_time,dropoff_date,dropoff_time,trip_day,trip_hour,trip_duration_minutes
0,1,2.0,1.0,42.0,42.0,1.0,0.44,3.5,0.50,0.5,...,2.0,1.0,0.00,2022-01-01,00:14:00,2022-01-01,00:15:00,5.0,0.0,1.0
1,2,1.0,1.0,116.0,41.0,1.0,2.10,9.5,0.50,0.5,...,2.0,1.0,0.00,2022-01-01,00:20:00,2022-01-01,00:29:00,5.0,0.0,9.0
2,3,1.0,1.0,41.0,140.0,1.0,3.70,14.5,3.25,0.5,...,1.0,1.0,2.75,2022-01-01,00:57:00,2022-01-01,01:13:00,5.0,0.0,16.0
3,4,2.0,1.0,181.0,181.0,1.0,1.69,8.0,0.50,0.5,...,2.0,1.0,0.00,2022-01-01,00:07:00,2022-01-01,00:15:00,5.0,0.0,8.0
4,5,2.0,1.0,33.0,170.0,1.0,6.26,22.0,0.50,0.5,...,1.0,1.0,2.75,2022-01-01,00:07:00,2022-01-01,00:28:00,5.0,0.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
833330,833331,2.0,1.0,74.0,75.0,1.0,1.67,10.0,1.00,0.5,...,2.0,1.0,0.00,2022-12-31,23:05:00,2022-12-31,23:12:00,5.0,23.0,7.0
833331,833332,2.0,1.0,74.0,75.0,1.0,1.64,10.0,1.00,0.5,...,1.0,1.0,0.00,2022-12-31,23:25:00,2022-12-31,23:32:00,5.0,23.0,7.0
833332,833333,2.0,1.0,74.0,42.0,1.0,0.78,7.2,1.00,0.5,...,2.0,1.0,0.00,2022-12-31,23:36:00,2022-12-31,23:42:00,5.0,23.0,6.0
833333,833334,2.0,1.0,74.0,43.0,1.0,3.05,14.9,1.00,0.5,...,1.0,1.0,2.75,2022-12-31,23:49:00,2022-12-31,23:59:00,5.0,23.0,10.0
833334,833335,1.0,1.0,66.0,65.0,2.0,1.40,9.0,0.50,1.5,...,1.0,1.0,0.00,2022-12-31,23:35:00,2022-12-31,23:47:00,5.0,23.0,12.0

In [21]:
df_cleaned.shape

(746346, 24)

In [22]:
null_count_per_column = df_cleaned.isnull().sum()  # Count of null values in each column
print("\nNumber of null values per column:")
print(null_count_per_column)

Number of null values per column:
ID                       0
VendorID                 0
RatecodeID               0
PULocationID             0
DOLocationID             0
passenger_count          0
trip_distance            0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
payment_type             0
trip_type                0
congestion_surcharge     0
pickup_date              0
pickup_time              0
dropoff_date             0
dropoff_time             0
trip_day                 0
trip_hour                0
trip_duration_minutes    0
dtype: int64

In [23]:
# Save the DataFrame to a new CSV file
csv_filename = "taxi_trips.csv"
df.to_csv(csv_filename, index=False)  # Save without row indices

csv_filename  # Return the path to the saved CSV file

'taxi_trips.csv'